.dropdown-menu {
  width: 400px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  overflow: scroll;
}

.dropdown-menu li {
  background: #5cabff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  color: black;
  background: #4099f8;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-item {
  display: flex;
  align-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
